.shape {
    height : 648px;
    width : 1480px;
    background-color : #981827;
    border-radius : 0.5rem;
    display : flex;
  }


.logpicture {
  background :#fff url("/vecteezy_colored-circus-background.jpg") no-repeat center / cover;
  display :flex;
  height: 610px;
  width: 700px;
  border-radius : 0.5rem;
  margin : 20px;  
}
